    <!-- Twitter Cards -->
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
<meta name="twitter:creator" content="@{{ site.twitter_username }}" />
<meta name="twitter:card" content="summary" />
{% if page.header-img %}<meta name="twitter:image" content="{{site.url}}/{{page.header-img}}" />{% else %}<meta name="twitter:image" content="{{site.url}}/{{site.header-img}}" />{% endif %}